.footer {
  color: #fff;
  background-color: black;
  width: 100%;
  padding: 25px;
  margin-top: 50px;
}

.footer-container-div {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px;
}

.footer-content-div {
  width: 285px;
  font-size: 16px;
}

.copyRight {
  width: 100%;
  text-align: center;
}
