.My-project-div {
  background-color: rgba(220, 220, 220, 0.248);
  padding: 20px;
  text-align: center;
}

.section-projects {
  margin: 20px 200px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (width <= 1520px) {
  .section-projects {
    justify-content: center;
  }
}
@media (width <= 1120px) {
  .section-projects {
    justify-content: center;
    grid-template-columns: 1fr 1fr;
  }
}
@media (width <= 750px) {
  .section-projects {
    justify-content: center;
    grid-template-columns: 1fr;
  }
}
