.designFolio-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px;
  text-align: center;
}
.designfolio-content-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-heading {
  font-size: 72px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 16px;
}

.project-div {
  background-color: rgba(220, 220, 220, 0.248);
  padding: 20px;
  text-align: center;
}
.section-project {
  background-color: rgba(255, 0, 0, 0);
  padding: 20px 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (width <= 1520px) {
  .section-project {
    justify-content: center;
  }
}
@media (width <= 1120px) {
  .section-project {
    justify-content: center;
    grid-template-columns: 1fr 1fr;
  }
}
@media (width <= 750px) {
  .designFolio-div {
    align-items: center;
    flex-wrap: wrap;
  }
  .img-div {
    display: none;
  }

  .main-heading {
    font-size: 60px;
  }
  .section-project {
    justify-content: center;
    grid-template-columns: 1fr;
  }
  .contact-details {
    flex-direction: column;
    align-items: start;
  }

  span {
    display: none;
  }
}

@media (width<= 400px) {
  .main-heading {
    font-size: 50px;
  }
}
