.main-component {
  position: relative;
  overflow: hidden;
}

.Bg-img {
  height: 500px;
  width: 500px;
  position: absolute;
  z-index: -200;
  top: 50px;
  right: 0;
}

.section-projects {
  background-color: rgba(249, 249, 249, 1);
  padding: 20px 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
