.main-div {
  margin: 65px 88px;
  display: flex;
  justify-content: space-between;
}

.main-heading {
  font-size: 72px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 16px;
}
.gradient-text {
  background: linear-gradient(
    to right,
    rgba(127, 108, 238, 1),
    rgba(186, 97, 203, 1),
    rgba(191, 132, 202, 1),
    rgba(223, 114, 244, 1)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.subHeading {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.subHeading li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.avatar-img {
  height: 438px;
  width: 438px;
}
/*  */

@media (width <= 1200px) {
  .avatar-img {
    height: 350px;
    width: 350px;
    margin-left: 20px;
  }
}
@media (width <= 850px) {
  .avatar-img {
    display: none;
  }
}
@media (width <= 650px) {
  .main-div {
    margin: 50px;
  }
  .subHeading {
    font-size: 18px;
    width: 100%;
    flex-wrap: wrap;
  }
}
